/* 태블릿 */
@media screen and (max-width:1024px) {
    #gallery_wrap {justify-content:space-evenly;}
    #gallery_wrap .g1,
    #gallery_wrap .g9 {display:none;}
    #card_wrap .card {width:32%;}
    #card_wrap .card4 {display:none;}
}
/* 모바일 */
@media screen and (max-width:768px) {
    #gallery_wrap .g2,
    #gallery_wrap .g3,
    #gallery_wrap .g7,
    #gallery_wrap .g8 {display:none;}
    #card_wrap {text-align:center; justify-content:center;}
    #card_wrap .card {width:70%;}
    #card_wrap .card2,
    #card_wrap .card3 {display:none;}
}