// 변수
// ----------색상
$bg1-light:#eee; //header,card,q&A 배경
$bg3-dark:#222; //bnr,btn,footer 배경
$font-color-bk:#000; //
$font-color-wh:#fff; //
$page-disable:#ccc; //페이지번호 비활성화
$page-active:#fff; //페이지번호 활성화
// ------------여백
$padding50:50px 0;
//재사용규칙(Mixins) 선언과 호출
//@mixin 생성규칙명
//@include 호출규칙명
@mixin layout { //컨텐츠 크기+가운데정렬
    margin:0 auto;
    width:calc(100% - 30px);
    max-width:1200px;
    min-width:320px;
    overflow-x:hidden;
}
@mixin flex-row-between {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
@mixin flex-column-between {
    display:flex;
    flex-flow:column nowrap;
    justify-content:space-between;
}
// 실행
#header_bg {
    background-color:$bg1-light;
    header {
        @include layout;
        @include flex-row-between;
        background:aqua; height:70px;
        h1 {a{img{}}}
        nav {
            background:yellow;
            a {margin-left:16px;}
            a:first-child {margin:0;}
        }
    }//e:header
}//header_bg end
#slide_wrap {
    @include layout;
    position:relative;
    .slide_container {
        .slide {display:none;}
        .slide1 {display:block;}
    }//e:slide_container
    .prev, .next {position:absolute;}
    .prev {left:20px; top:45%;}
    .next {right:20px; top:45%;}
    .pagenation { 
        background:brown;
        position:absolute; left:0; bottom:50px; 
        width:100%; text-align:center;
        a {
            background:$page-disable;
            width:16px; height:16px;
            display:inline-block;
            border-radius:50%;
            text-indent:-9999px;
            margin-right:10px;
        }
        a.active {background:$page-active;}
        a:last-child {margin:0;}
    }
}//e:slide_wrap
#gallery_wrap {
    @include flex-row-between;
    @include layout;
    padding:$padding50;
    .gallery {
        width:100px; height:100px;
        img {width:100%;}
    }
    .g5 {
        width:200px; height:200px;
    }
}//e:gallery_wrap
#bnr_wrap {
    text-align:center;
    padding:$padding50;
    background-color:$bg3-dark;
    span {
        color:$font-color-wh;
        font-size:1.375rem;
    }
}//e:bnr_wrap
#card_wrap {
    @include layout;
    @include flex-row-between;
    padding:$padding50;
    .card {
        border-radius:20px;
        padding:30px 20px;
        width:23.5%;
        background-color:#E5E5CB;
        * {padding-bottom:10px; line-height:1.3rem;}
        .photo {
            width:100%; text-align:center;
            img{width:90%;}
        }
        h2 {letter-spacing:-0.02em; font-size:1.25rem; font-weight:600;}
        p {margin:10px 0;letter-spacing:-0.02em;}
        p:last-child {margin:0;}
    }
}//e:card_wrap
#qa_wrap {
    @include layout;
    padding:$padding50;
    h2 {font-size:1.25rem; font-weight:600; margin-bottom:20px;}
    #qaFrm {
        fieldset {
            @include flex-column-between;
            * {padding:10px; background-color:$bg1-light; border:0; margin-bottom:16px;}
            input[name$=id] {}
            input[name$=number] {}
            #user_qa {height:150px;}
            #qa_btn {background-color:$bg3-dark; color:$font-color-wh; padding:20px 0;}
        }
    }
}//e:qa_wrap
footer {
    text-align:center;
    color:$font-color-wh; background-color:$bg3-dark;
    padding:50px 0;
}

//media quree
// @media screen and (max-width:1024px) {
//     #header_bg
//     header {background:coral;}
// }